<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Test-Maker</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item
         routerLinkActive="active"
         routerLink="/questions/new">Create a Question</a>
      <a mat-list-item
         routerLink="/tests/new"
         routerLinkActive="active">Create a Test</a>
      <a mat-list-item
         routerLink="/tests"
         routerLinkActive="active">See All Tests</a>
      <a mat-list-item
         routerLink="/questions"
         routerLinkActive="active">See All Questions</a>
<!--      <a mat-list-item-->
<!--         routerLink="/test-solutions"-->
<!--         routerLinkActive="active">See Test Solutions</a>-->
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>    </span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
